/* vertical line */
.vl {
  position:relative;
  left: 50%;
  transform: translate(-50%);
  border: 2px solid #f0ad4e;
  height: 1px;
}

/* text inside the vertical line */
.vl-innertext {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #ebf1f1;
  border: 1px solid rgba(228, 52, 28, 0.884);
  border-radius: 50%;
  padding: 8px 10px;
}