<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 offset-sm-3">
        <h2>Login</h2>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="username">
              <i class="fa fa-user" aria-hidden="true"></i>
              Username</label
            >
            <input
              type="text"
              formControlName="username"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
            />
            <div
              *ngIf="submitted && f.username.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.username.errors.required">Username is required</div>
            </div>
          </div>
          <div class="form-group">
            <label for="password">
              <i class="fa fa-key" aria-hidden="true"></i>
              Password</label
            >
            <input
              type="password"
              formControlName="password"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
            />
            <div
              *ngIf="submitted && f.password.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.password.errors.required">Password is required</div>
            </div>
          </div>
          <div class="form-inline">
            <button [disabled]="loading" class="btn btn-primary">
              <i class="fa fa-sign-in" aria-hidden="true"></i>
              Login
            </button>
            <a routerLink="/register" class="btn btn-info m-3">
              <i class="fa fa-user-plus" aria-hidden="true"></i>
              Register</a
            >
            <h5 class="text text-bold font-weight-bolder">(OR)</h5>
          </div>
          <div class="alert alert-danger" role="alert" [hidden]="!loginerr">
            <strong>Invalid Username/Password combination !</strong> Please try
            again with valid credentials
          </div>
        </form>
        <div class="vl bg-warning"></div>
        <br>
        <div class="form-inline">
          <button
            class="btn btn-social btn-google"
            (click)="socialSignIn('google')"
          >
            <i class="fa fa-google-plus-official" aria-hidden="true"></i>
           Use Google
          </button>
          <button
            class="btn btn-social btn-facebook ml-1"
            (click)="socialSignIn('facebook')"
          >
            <i class="fa fa-facebook-official" aria-hidden="true"></i>
            Use Facebook
          </button>
        </div>
        <br>
        <div class="m1">
          
        </div>
        <!-- <table class="table">
          <tbody>
            <tr>
              <td scope="row">
                
              </td>
              <td>
                
              </td>
            </tr>
          </tbody>
        </table> -->
      </div>
    </div>
  </div>
</div>
