<div class="container-fluid">
  <nav class="navbar navbar-expand-sm navbar-light bg-warning">
    <a class="navbar-brand" href="#">Change Log System</a>
    <button
      class="navbar-toggler d-lg-none"
      type="button"
      data-toggle="collapse"
      data-target="#collapsibleNavId"
      aria-controls="collapsibleNavId"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
  <router-outlet></router-outlet>

</div>
  <footer class="border-top footer text-muted bg-warning">
    <div class="container">
      &copy; 2020 - ChangeLogAngularApp
    </div>
  </footer>